[mysqld]
default_authentication_plugin=mysql_native_password
character-set-server=utf8mb4
bind-address=0.0.0.0
port=3306
default-storage-engine=INNODB
skip-grant-tables
[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
